@{   var id = int.Parse(Url.RequestContext.RouteData.Values["id"].ToString().ToLower()); }

<div class="span2">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            @if (((IOrderedEnumerable<IGrouping<DateTime, Mavo.Assets.Models.Job>>)ViewBag.JobsReadyToPickForNav).Any())
            {
                foreach (IGrouping<DateTime, Mavo.Assets.Models.Job> item in ViewBag.JobsReadyToPickForNav)
                {
                <li class="nav-header">@item.Key.ToShortDateString()</li>
                    foreach (Mavo.Assets.Models.Job job in item.OrderBy(x => x.PickupTime))
                    {
                <li class='@(id == job.Id ? "active" : "")'><a href="/jobpicker/index/@job.Id">
                    <span class='label @(job.PickupTime < DateTime.Now ? "label-important" : job.PickupTime > DateTime.Now && job.PickupTime <= DateTime.Now.AddHours(1) ? "label-warning" : "")'>@job.PickupTime.ToShortTimeString()</span>
                    @job.Name
                </a>
                </li>
                    }
                }
            }
            else
            {
                <li class="nav-header">No jobs to pick</li>
            }
        </ul>
    </div>
</div>
