@{
    var controller = Url.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action = Url.RequestContext.RouteData.Values["action"].ToString().ToLower();
    var templates = ViewBag.Templates;
}
@using Mavo.Assets;
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            @if (Request.IsAuthenticated)
            {
                <div class=" ">
                    <p class="navbar-text pull-right">
                        <a href="#" class="navbar-link">@User.Identity.Name</a> | 
                    <a href="/account/LogOff">Log Off</a>
                    </p>
                    <ul class="nav hidden-desktop">
                        <li class="@(controller == "jobpicker" ? "active" : "")"><a href="/jobpicker/list">Pick</a></li>
                        <li class="@(controller == "jobreturner" ? "active" : "")"><a href="/jobreturner/list">Return</a></li>
                        <li class="@(controller == "job" ? "active" : "")"><a href="/job">Jobs</a></li>
                        <li class="@(controller == "asset" ? "active" : "")"><a href="/asset">Assets</a></li>
                        <li class="@(controller == "template" ? "active" : "")"><a href="/template">Templates</a></li>
                    </ul>
                    <ul class="nav visible-desktop">
                        <li class="@(controller == "jobpicker" ? "active" : "")"><a href="/jobpicker/list">Pick</a></li>
                        <li class="@(controller == "jobreturner" ? "active" : "")"><a href="/jobreturner/list">Return</a></li>
                        <li class="dropdown @(controller == "job" ? "active" : "")">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Jobs <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/job"><i class="icon-list"></i>List</a></li>
                                <li><a href="/job/create"><i class="icon-plus"></i>Create</a></li>
                                <li class="dropdown-submenu"><a href="/job/create">
                                    <i class="icon-plus"></i>Create From Template</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var template in templates)
                                        {
                                            <li><a href="/job/create?templateId=@template.Id">@template.Name</a></li>
                                        }
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown @(controller == "asset" ? "active" : "")">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Assets <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/asset"><i class="icon-list"></i>List</a></li>
                                <li><a href="/asset/create"><i class="icon-plus"></i>Create</a></li>
                                <li><a href="/asset/scan"><i class="icon-barcode"></i>Scan new item</a></li>
                                <li><a href="/asset/ItemReview"><i class="icon-wrench"></i>Review Damaged Items</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(controller == "template" ? "active" : "")">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Templates <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/template"><i class="icon-list"></i>List</a></li>
                                <li><a href="/template/create"><i class="icon-plus"></i>Create</a></li>
                                <li><a href="#templateModal" data-toggle="modal"><i class="icon-plus"></i>Clone</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(controller == "reporting" ? "active" : "")">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/reporting/latejobs"><i class="icon-calendar"></i>Late Jobs</a></li>
                                <li><a href="/reporting/jobs">Jobs</a></li>
                                <li><a href="/reporting/assethistory">Asset History</a></li>
                                <li><a href="/reporting/tomorrowspicks">Tomorrow's Pick List</a></li>
                                <li><a href="/reporting/fellofftruck">Red Tagged Items</a></li>
                                <li><a href="/Reporting/AssetExport">Asset Excel Export</a></li>
                            </ul>
                        </li>
                        @if (ViewBag.CurrentUserRole.HasFlag(Mavo.Assets.Models.UserRole.Administrator))
                        {
                            <li class="@(controller == "usermanagement" ? "active" : "")">
                                <a href="/usermanagement">Users</a>
                            </li>
                        }
                    </ul>
                    
                </div>
              
               
            }
        </div>
    </div>
</div>



<div id="templateModal" class="modal hide fade">
    @using (Html.BeginForm(MVC.Template.Clone(), FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Clone a Template</h3>
        </div>
        <div class="modal-body">
            <text>Template:</text>@Html.DropDownList("id", ((IList<Mavo.Assets.Models.Template>)ViewBag.Templates).Select(y => new SelectListItem() { Text = y.Name, Value = y.Id.ToString() }))
        </div>
        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
            <input type="submit" class="btn btn-primary" value="Clone" />
        </div>
    }

</div>
