@using Mavo.Assets;
@model Mavo.Assets.Models.RegisterModel

<div class="control-group">
    @Html.LabelTitleizeFor(m => m.EmployeeId)
    <div class="controls">
        @Html.EditorFor(m => m.EmployeeId)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.FirstName)
    <div class="controls">
        @Html.EditorFor(m => m.FirstName)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.LastName)
    <div class="controls">
        @Html.EditorFor(m => m.LastName)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.Email)
    <div class="controls">
        @Html.EditorFor(m => m.Email)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.Password)
    <div class="controls">
        @Html.EditorFor(m => m.Password)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.ConfirmPassword)
    <div class="controls">
        @Html.EditorFor(m => m.ConfirmPassword)
    </div>
</div>
<div class="control-group">
    @Html.LabelTitleizeFor(m => m.Role)
    <div class="controls">
        @Html.EnumDropDownListFor(m => m.Role)
    </div>
</div>
