@model Mavo.Assets.Models.Address
@{var title = Inflector.Inflector.Titleize(Html.DisplayNameForModel().ToHtmlString());}
<div class="well well-small">
    <div class="control-group">
        <label class="control-label">@title Address1</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Address1)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@title Address2</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Address2)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@title City</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.City)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@title State</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.State)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@title ZipCode</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.ZipCode)
        </div>
    </div>
</div>
