@model Mavo.Assets.Models.Address

<div class="control-group">
    <label class="control-label">@Html.DisplayNameForModel() Address1</label>
    <div class="controls">
        @Html.TextBoxFor(x => x.Address1)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameForModel() Address2</label>
    <div class="controls">
        @Html.TextBoxFor(x => x.Address2)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameForModel() City</label>
    <div class="controls">
        @Html.TextBoxFor(x => x.City)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameForModel() State</label>
    <div class="controls">
        @Html.TextBoxFor(x => x.State)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameForModel() ZipCode</label>
    <div class="controls">
        @Html.TextBoxFor(x => x.ZipCode)
    </div>
</div>
