@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@if (null != Model && Model.Status >= Mavo.Assets.Models.JobStatus.BeingPicked)
{
    <div class="tab-pane active" id="jobstatus">
        @if (Model.Status > Mavo.Assets.Models.JobStatus.BeingPicked)
        {
        <div class="alert alert-info">
            Job picked by <strong>@Model.PickedUpByStr</strong> at <strong>@Model.PickCompleted</strong>
        </div>
        }
        
        <h4>Items Picked</h4>
        <div id="asset-container">
            @if (Model.PickedAssets.Count > 0)
            {
            <table id="asset-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Mavo Item Number</th>
                        <th>Asset</th>
                        <th>Quantity/Barcode</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PickedAssets.OrderByDescending(x => Mavo.Assets.Models.Asset.SortableMavoItemNumber(x.Asset.MavoItemNumber)))
                    {
                        <tr>
                            <td>@item.Asset.MavoItemNumber</td>
                            <td>
                                @if (item.Asset.Kind == Mavo.Assets.Models.AssetKind.Serialized)
                                {
                                    <a href="@Url.Action(MVC.Reporting.AssetHistoryFilter(item.Barcode))">@item.Asset.Name</a>
                                }
                                else
                                {
                                    @item.Asset.Name
                                }
                            </td>
                            <td>
                                @if (item.Asset.Kind == Mavo.Assets.Models.AssetKind.Serialized)
                                {
                                    @(item.Item != null ? item.Item.Barcode : "-")
                                }
                                else
                                {
                                    @item.Quantity
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <a href="@Url.Action(MVC.Reporting.AssetHistoryFilter(job: Model.Id))">View detailed Asset History for this job</a>
            }
            else
            {
                <div class="alert alert-warning">No items have been picked yet.</div>
            }

            @if (Model.Status > Mavo.Assets.Models.JobStatus.BeingPicked && null != ViewBag.ItemsNotPicked && ViewBag.ItemsNotPicked.Count > 0)
            { 
                <hr/>
                <h4>Items Not Picked</h4>
                <div class="alert alert-warning">These items were requested, but not picked or only partially picked.</div>
                <table id="asset-notpicked-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mavo Item Number</th>
                            <th>Asset</th>
                            <th>Quantity Missing / Requested</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ((List<Mavo.Assets.Models.NotPickedItem>)ViewBag.ItemsNotPicked).OrderByDescending(x => Mavo.Assets.Models.Asset.SortableMavoItemNumber(x.AssetNumber)))
                        {
                            <tr>
                                <td>@item.AssetNumber</td>
                                <td>@item.AssetName</td>
                                <td>@(item.Requested-item.Picked) / @item.Requested</td>
                            </tr>
                        }
                    </tbody>
                </table>

                if (Model.Status < Mavo.Assets.Models.JobStatus.BeingReturned)
                {
                    <div class="row-fluid" style="text-align: center;">
                        <div class="span5">
                            <a href="/jobpicker/index/@Model.Id" class="btn btn-large btn-primary">Resume Picking</a>
                            <p class="help-block" style="margin-top: 10px;">
                                If the truck has not yet left, you may simply resume picking this job.
                            </p>
                        </div>
                        <div class="span1" style="padding-top: 10px;"><h4>- OR -</h4></div>
                        <div class="span5">
                            <a href="/job/create-missing-addon/@Model.Id" class="btn btn-large btn-primary">Create Add-on with Missing Items</a>
                            <p class="help-block" style="margin-top: 10px;">
                                If the truck has already left, you must create an addon. This function will automatically create a new
                                addon and move all unpicked items into that new addon.
                        </div>
                    </div>
                }
            }
            
        </div>





    </div>
}