@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@using Mavo.Assets;
@if (null != Model && Model.Id.HasValue)
{
    <div class="tab-pane" id="billing-request-form">
        <div class="row-fluid">
            <div class="span3 offset9">
                <a class="btn pull-right" href="#" onclick="window.print()"><i class="icon-print"></i>&nbsp;Print</a>
            </div>
        </div>
        @using (Html.BeginForm(MVC.Job.SaveInvoice(Model.Id.Value, null), FormMethod.Post, new { @class = "form form-horizontal" }))
        {
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="well">
                        <h4>Job Details</h4>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ProjectManager)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ProjectManager, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.Name)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Name, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.JobNumber)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.JobNumber, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.JobContact)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.JobContact, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.JobContactPhone)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.JobContactPhone, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.Address)
                            <div class="controls">
                                @Html.DisplayFor(x => x.Address)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ScopeOfWork)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ScopeOfWork, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.Notifiable)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Notifiable, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.BillingType)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingType, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.SupervisorsNeeded)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.SupervisorsNeeded, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.WorkersNeeded)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.WorkersNeeded, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ShiftHours)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ShiftHours, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ShiftStartDate)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ShiftStartDate, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.EstimatedCompletionDate)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.EstimatedCompletionDate, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.PickupTime)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.PickupTime, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ForemanNote)
                            <div class="controls">
                                @Html.TextAreaFor(x => x.ForemanNote, new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 ">
                    <div class="well">
                        <h4>Consultant Details</h4>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ConsultantName)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ConsultantName, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ConsultantContact)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ConsultantContact, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ConsultantContactNumber)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ConsultantContactNumber, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ConsultantEmail)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ConsultantEmail, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.Consultant)
                            <div class="controls">
                                @Html.DisplayFor(x => x.InvoiceDetail.Consultant)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="well">
                        <h4>Contract/Billing Details</h4>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ContractDate)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ContractDate, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ContractNumber)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ContractNumber, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ContractAmount)
                            <div class="controls">
                                @Html.EditorFor(x => x.ContractAmount)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.TotalAmountDue)
                            <div class="controls">
                                @Html.EditorFor(x => x.InvoiceDetail.TotalAmountDue)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.GrossInvoiceAmount)
                            <div class="controls">
                                @Html.EditorFor(x => x.InvoiceDetail.GrossInvoiceAmount)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.Retainage)
                            <div class="controls">
                                @Html.EditorFor(x => x.InvoiceDetail.Retainage)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.NetInvoiceAmount)
                            <div class="controls">
                                @Html.EditorFor(x => x.InvoiceDetail.NetInvoiceAmount)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.SendConsultant)
                            <div class="controls">
                                @Html.EnumCheckBoxListFor(x => x.InvoiceDetail.SendConsultant, true)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.SendCustomer)
                            <div class="controls">
                                @Html.EnumCheckBoxListFor(x => x.InvoiceDetail.SendCustomer, true)
                            </div>
                        </div>
                        <h5>Special Invoice Instructions</h5>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.InvoiceDetail.SpecialForms)
                            <div class="controls">
                                @Html.EnumCheckBoxListFor(x => x.InvoiceDetail.SpecialForms)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6 ">
                    <div class="well">
                        <h4>Customer Details</h4>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.ConsultantEmail)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.Customer.Name, new { disabled = "disabled" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelTitleizeFor(x => x.Customer.Address)
                            <div class="controls">
                                @Html.DisplayFor(x => x.Customer.Address)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="well">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
                </div>
            </div>
        }
    </div>
}