@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@using Mavo.Assets;
@if (null != Model && Model.Id.HasValue)
{
    <div class="tab-pane" id="billing-request-form">
        <div class="row-fluid">
            <div class="span12 well">
                <h4>Billing Request Form</h4>
                <a class="btn pull-right" href="#" onclick="window.print()"><i class="icon-print"></i>&nbsp;Print</a>
                @using (Html.BeginForm(MVC.Job.SaveInvoice(Model.Id.Value, null)))
                {
                    <h4>Job Details</h4>
                    <table class="table table-condensed table-striped table-hover">
                        <tr>
                            <th>Submitted By:</th>
                            <td>@Html.DisplayFor(x => x.SubmittedBy.FullName)</td>
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <td>@Html.DisplayFor(x => x.CreatedDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.Summary.ShiftHours):</th>
                            <td>@Html.DisplayFor(x => x.Summary.ShiftHours)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.ScopeOfWork):</th>
                            <td>@Html.DisplayFor(x => x.ScopeOfWork)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.JobNumber):</th>
                            <td>@Html.DisplayFor(x => x.JobNumber)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.ContractDate):</th>
                            <td>@Html.DisplayFor(x => x.ContractDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.EstimatedCompletionDate):</th>
                            <td>@Html.DisplayFor(x => x.EstimatedCompletionDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.JobContact):</th>
                            <td>@Html.DisplayFor(x => x.JobContact)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.JobContactPhone):</th>
                            <td>@Html.DisplayFor(x => x.JobContactPhone)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.Address):</th>
                            <td>@Html.DisplayFor(x => x.Address)</td>
                        </tr>
                    </table>
                    <h4>Contract Details</h4>
                    <table class="table table-condensed table-striped table-hover">
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.ContractNumber)</th>
                            <td>@Html.DisplayFor(x=>x.ContractNumber)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.ContractDate)</th>
                            <td>@Html.DisplayFor(x=>x.ContractDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.ContractAmount)</th>
                            <td>@Html.DisplayFor(x=>x.ContractAmount)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.InvoiceDetail.TotalAmountDue)</th>
                            <td>@Html.EditorFor(x=>x.InvoiceDetail.TotalAmountDue)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameTitleizedFor(x=>x.InvoiceDetail.TotalAmountDue)</th>
                            <td>@Html.EditorFor(x=>x.InvoiceDetail.GrossInvoiceAmount)</td>
                        </tr>
                        <tr>
                            <th>Withhold %</th>
                            <td>@Html.EditorFor(x=>x.InvoiceDetail.WithholdPercentage)</td>
                        </tr>
                        <tr>
                            <th>Retainage</th>
                            <td>@Html.EditorFor(x=>x.InvoiceDetail.Retainage)</td>
                        </tr>
                        <tr>
                            <th>Net Invoice Amount</th>
                            <td>@Html.EditorFor(x=>x.InvoiceDetail.NetInvoiceAmount)</td>
                        </tr>
                    </table>
                    <h4>Invoice Details</h4>
                    <table class="table table-condensed table-striped table-hover">
                        <tr>
                            <th>Issue Invoice To Owner:</th>
                            <td>@Html.EditorFor(x => x.InvoiceDetail.IssueInvoiceToOwner)</td>
                        </tr>
                        <tr>
                            <th>Invoice Address:</th>
                            <td>@Html.DisplayFor(x => x.InvoiceDetail.InvoiceAddress)</td>
                        </tr>
                        <tr>
                            <th>Send Invoice To:</th>
                            <td>@Html.DisplayFor(x => x.InvoiceDetail.SendInvoiceTo)</td>
                        </tr>
                        <tr>
                            <th>Send Invoice Approval To:</th>
                            <td>@Html.EditorFor(x => x.InvoiceDetail.SendInvoiceApprovalTo)</td>
                        </tr>
                        <tr>
                            <th>Attention:</th>
                            <td>@Html.DisplayFor(x => x.InvoiceDetail.Attention)</td>
                        </tr>
                        <tr>
                            <th>Copy To:</th>
                            <td>@Html.EditorFor(x => x.InvoiceDetail.CopyTo)</td>
                        </tr>
                        <tr>
                            <th>Attention:</th>
                            <td>@Html.EditorFor(x => x.InvoiceDetail.CopyAttention)</td>
                        </tr>
                        <tr>
                            <th>Copy Address:</th>
                            <td>@Html.EditorFor(x => x.InvoiceDetail.CopyAddress)</td>
                        </tr>
                        <tr>
                            <th>Special Invoice Instruction:</th>
                            <td>@Html.DisplayFor(x => x.InvoiceDetail.InvoiceInstructions)</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>
                                    <u>Special Forms to User:</u>
                                </strong>
                                <br />
                                @Html.EnumCheckBoxListFor(x => x.InvoiceDetail.SpecialForms)
                            </td>
                        </tr>
                        <tr>
                            <th>Comments</th>
                            <td>@Html.TextAreaFor(x => x.InvoiceDetail.Comments)</td>
                        </tr>
                        <tr class="noprint">
                            <th></th>
                            <td>
                                <input type="submit" class="btn btn-success" value="Save" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
}