@model Mavo.Assets.Models.Customer
<!-- Modal -->
<div id="addCustomerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addCustomerModalLabel">Add Customer</h3>
    </div>
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "addCustomer", @class = "form form-horizontal" }))
    {
        <div class="modal-body">
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Name)
                <div class="controls">
                    @Html.EditorFor(x => x.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.ContactName)
                <div class="controls">
                    @Html.EditorFor(x => x.ContactName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.CustomerNumber)
                <div class="controls">
                    @Html.EditorFor(x => x.CustomerNumber)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.PhoneNumber)
                <div class="controls">
                    @Html.EditorFor(x => x.PhoneNumber)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Address.Address1)
                <div class="controls">
                    @Html.EditorFor(x => x.Address.Address1)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Address.Address2)
                <div class="controls">
                    @Html.EditorFor(x => x.Address.Address2)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Address.City)
                <div class="controls">
                    @Html.EditorFor(x => x.Address.City)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Address.State)
                <div class="controls">
                    @Html.EditorFor(x => x.Address.State)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelTitleizeFor(x => x.Address.ZipCode)
                <div class="controls">
                    @Html.EditorFor(x => x.Address.ZipCode)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Add Customer</button>
        </div>
    }
</div>
