@model Mavo.Assets.Models.ViewModel.SearchResult
@using Mavo.Assets
<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Actions</li>
        <li><a href="/job/create">Create Job</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Create Job From Template<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach (var template in ViewBag.Templates)
                {
                    <li><a href="/job/create?templateId=@template.Id">@template.Name</a></li>
                }
            </ul>
        </li>

        <li class="divider"></li>
    </ul>
    <ul class="nav nav-list">
        <li>
            @using (Html.BeginForm(MVC.Job.Index(), FormMethod.Post, new { @class = "form-search" }))
            {
                <div class="input-append">
                    @Html.TextBox("SearchString", null, new { @class = "span8 search-query" })
                    <button type="submit" class="btn">Search</button>
                </div>
            }
        </li>
        <li class="nav-header">Jobs By Status</li>
        <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["status"], ((int)Mavo.Assets.Models.JobStatus.New).ToString())><a href="/job?status=@((int)Mavo.Assets.Models.JobStatus.New)">New</a></li>
        <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["status"], ((int)Mavo.Assets.Models.JobStatus.Started).ToString())><a href="/job?status=@((int)Mavo.Assets.Models.JobStatus.Started)">Started</a></li>
        <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["status"], ((int)Mavo.Assets.Models.JobStatus.ReadyToPick).ToString())><a href="/job?status=@((int)Mavo.Assets.Models.JobStatus.ReadyToPick)">Ready To Pick</a></li>
        <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["status"], ((int)Mavo.Assets.Models.JobStatus.Completed).ToString())><a href="/job?status=@((int)Mavo.Assets.Models.JobStatus.Completed)">Completed</a></li>
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">Jobs By Customer</li>
        @foreach (var item in ViewBag.Customers)
        {
            <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["customerId"], item.Id)><a href="/job?customerId=@item.Id">@item.Name</a></li>
        }
    </ul>
    <ul class="nav nav-list">
        <li class="nav-header">Jobs By Manager</li>
        @foreach (var item in ViewBag.ProjectManagers)
        {
            <li @HtmlExtensions.GetActive(Url.RequestContext.HttpContext.Request["projectManagerId"], item.Id)><a href="/job?projectManagerId=@item.Id">@item.FullName</a></li>
        }
    </ul>
</div>
