@model IList<Mavo.Assets.Models.ViewModel.SearchResult>

@{
    ViewBag.Title = "_SearchResult";
}
@if (Model == null || !Model.Any())
{
    <div class="hero-unit">
        <h1>No results found</h1>
    </div>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Job Site</th>
            <th>Job #</th>
            <th>Customer</th>
            <th>Ship</th>
            <th>Return</th>
            <th>Status</th>
            <th>Project Manager</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    @if (item.IsAddon)
                    {
                        <span class="label label-info"><i class="icon-plus-sign icon-white"></i></span>
                    }
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>@Html.DisplayFor(x => item.JobName)</td>
                <td>@Html.DisplayFor(x => item.JobNumber)</td>
                <td>@Html.DisplayFor(x => item.Customer)</td>
                <td>@Html.DisplayFor(x => item.ShipDate)</td>
                <td>@Html.DisplayFor(x => item.ReturnDate)</td>
                <td>
                    @if (item.Status == Mavo.Assets.Models.JobStatus.ReadyToPick)
                    {
                        <a href="/jobpicker/index/@item.Id">
                            @Html.DisplayFor(x => item.Status)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(x => item.Status)
                    }
                </td>
                <td>@Html.DisplayFor(x => item.ProjectManager)</td>
                <td>
                    <a href="/job/edit/@item.Id" class="btn btn-small"><i class="icon-edit"></i>&nbsp;Edit</a>
                    @if (item.Status == Mavo.Assets.Models.JobStatus.New)
                    {
                        <a data-toggle="modal" href="#pickupModal@(item.Id.Value)"class="btn btn-small btn-info"><i class="icon-lock"></i>&nbsp;Pick Job</a>
                        Html.RenderPartial("_PickJobModal", new Mavo.Assets.Models.Job() { Id = item.Id.Value, PickupTime = item.ShipDate.Value, Name = item.JobName });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
