@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@{
    if (Model != null)
    {
        ViewBag.Title = "Edit :: " + Model.Name;
    }
    else
    {
        ViewBag.Title = "Create :: Job";
    }
}

@section LeftNav
{
    @{Html.RenderPartial(MVC.Job.Views._JobSidebar, (Mavo.Assets.Models.ViewModel.LeftNavViewModel)ViewBag.JobsReadyToPick);}
}

<script type="text/javascript">
    jQuery(function ($) {
        $('#job-tabs').tab();
    });
</script>

@if (null != Model)
{
    <div class="modal hide fade" id="pickupModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Mark @Model.Name ready for pickup?</h3>
        </div>
        <div class="modal-body">
            <p>You are scheduling this job for pickup on <strong>@Model.PickupTime.ToLongDateString()</strong>.  </p>
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-danger"><i class="icon-remove-circle icon-white"></i>&nbsp;No</a>
            @using (Html.BeginForm(MVC.Job.MarkReadyToPick(Model.Id.Value), FormMethod.Post, new { style = "margin: 0; display: inline;" }))
            {
                <button type="submit" class="btn btn-success"><i class="icon-ok-sign icon-white"></i>&nbsp;Yes</button>
            }
        </div>
    </div>
}
<h1>
    <span>@ViewBag.Action Job</span>
    @if (null != Model)
    {
        <span>&gt; @Model.Name</span>
        if (Model.Status == Mavo.Assets.Models.JobStatus.New)
        {
        <a data-toggle="modal" href="#pickupModal" class="btn btn-primary btn-large"><i class="icon-lock icon-white"></i>&nbsp;Ready to pick</a>
        }
    }

</h1>

@if (null != Model)
{
    <ul id="job-tabs" class="nav nav-tabs">
        <li><a href="#details" data-toggle="tab">Details</a></li>
        <li class="active"><a href="#assets" data-toggle="tab">Assets</a></li>
    </ul>
}

@using (Html.BeginForm(MVC.Job.Edit(), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
   
    if (Model == null)
    {
    <div class="row-fluid">
        <div class="well">
            <h4>Template</h4>
            @Html.DropDownList("TemplateId", ((IList<Mavo.Assets.Models.Template>)ViewBag.Templates).Select(x => new SelectListItem()
       {
           Value = x.Id.ToString(),
           Text = x.Name,
           Selected = Model == null || ViewBag.TemplateId.HasValue ? false : x.Id == ViewBag.TemplateId
       }), string.Empty)
        </div>
    </div>
    }

    <div class="tab-content">
        <div class="tab-pane @(null == Model ? "active" : "")" id="details">
            <div class="row-fluid">
                <div class="span6">
                    <div class="well">
                        <h4>Job Details</h4>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.Name)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Customer">Customer:</label>
                            <div class="controls">
                                @Html.DropDownList("CustomerId", ((IList<Mavo.Assets.Models.Customer>)ViewBag.Customers).Select(x => new SelectListItem()
                           {
                               Value = x.Id.ToString(),
                               Text = x.Name,
                               Selected = Model == null || Model.CustomerId == null ? false : x.Id == Model.CustomerId
                           }), string.Empty)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.JobNumber, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.JobNumber)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.ProjectManagerId, new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownList("ProjectManagerId", ((IList<Mavo.Assets.Models.User>)ViewBag.ProjectManagers).Select(x => new SelectListItem()
                           {
                               Value = x.Id.ToString(),
                               Text = String.Format("{0}, {1}", x.LastName, x.FirstName),
                               Selected = Model == null || Model.ProjectManagerId == null ? false : x.Id == Model.ProjectManagerId
                           }), string.Empty)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.JobSiteName, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.JobSiteName)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Status, new { @class = "control-label" })
                            <div class="controls">
                                @Html.DisplayFor(model => model.Status)
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <h4>Job Location</h4>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Address.Address1, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.Address.Address1)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Address.City, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.Address.City)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Address.State, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.Address.State)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(x => x.Address.ZipCode, new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(x => x.Address.ZipCode)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well span6">
                    <h4>Contract Details</h4>

                    <div class="control-group">
                        @Html.LabelFor(x => x.PickupTime, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(x => x.PickupTime)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.ForemanId, new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownList("ForemanId", ((IList<Mavo.Assets.Models.User>)ViewBag.Foremen).Select(x => new SelectListItem()
                       {
                           Value = x.Id.ToString(),
                           Text = String.Format("{0}, {1}", x.LastName, x.FirstName),
                           Selected = Model == null || Model.ForemanId == null ? false : x.Id == Model.ForemanId
                       }), string.Empty)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.ContractDate, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(x => x.ContractDate)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(x => x.EstimatedCompletionDate, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(x => x.EstimatedCompletionDate)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ContractNumber, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(x => x.ContractNumber)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ContractAmount, new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(x => x.ContractAmount)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(x => x.Description)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ForemanNote, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(x => x.ForemanNote)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" />
                </div>
            </div>
        </div>

        @if (null != Model)
        {
            <div class="tab-pane active" id="assets">
                <div class="row-fluid">
                    <div class="span12 well">
                        <h4>Job Assets</h4>
                        @{Html.RenderAction("AssetPickerForJob", "Asset", new { id = Model.Id });}
                    </div>
                </div>
            </div>
        }
    </div>
}
