@using Mavo.Assets
@model Mavo.Assets.Models.ViewModel.SearchResult
@{
    ViewBag.Title = "List :: Job";
}

@section LeftNav
{
    @{Html.RenderPartial(MVC.Job.Views._JobSidebar, new Mavo.Assets.Models.ViewModel.SearchResult());}
}

<div class="well">
    @using (Html.BeginForm(MVC.Job.Index(), FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(x => x.SearchString, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(x => x.SearchString)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.StartDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(x => x.StartDate)
                        -
                        @Html.EditorFor(x => x.EndDate)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(x => x.Customer, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("CustomerId", ((IList<Mavo.Assets.Models.Customer>)ViewBag.Customers).Select(x => new SelectListItem()
                                   {
                                       Value = x.Id.ToString(),
                                       Text = x.Name,
                                       Selected = Model == null || Model.CustomerId == null ? false : x.Id == Model.CustomerId
                                   }), string.Empty)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.ProjectManagerId, new { @class = "control-label" })
                    <div class="controls">
                        @Html.DropDownList("ProjectManagerId", ((IList<Mavo.Assets.Models.User>)ViewBag.ProjectManagers).Select(x => new SelectListItem()
                                   {
                                       Value = x.Id.ToString(),
                                       Text = String.Format("{0}, {1}", x.LastName, x.FirstName),
                                       Selected = Model == null || Model.ProjectManagerId == null ? false : x.Id == Model.ProjectManagerId
                                   }), string.Empty)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.Status, new { @class = "control-label" })
                    <div class="controls">
                        <select id="Status" name="Status">
                            <option></option>
                            <option value="0" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.New ? "selected" : "")>New</option>
                            <option value="1" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.ReadyToPick ? "selected" : "")>Ready To Pick</option>
                            <option value="2" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.BeingPicked ? "selected" : "")>Being Picked</option>
                            <option value="3" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.Started ? "selected" : "")>Started</option>
                            <option value="4" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.BeingReturned ? "selected" : "")>Being Returned</option>
                            <option value="5" @(Model != null && Model.Status.HasValue && Model.Status == Mavo.Assets.Models.JobStatus.Completed ? "selected" : "")>Completed</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
@if (Model != null)
{
    Html.RenderPartial(MVC.Job.Views._SearchResult, Model.Results);
}
