@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@{ ViewBag.Title = "Print :: " + Model.Name; }
<table id="jobheader-printable">
    <tr>
        <td><strong>Job Number:</strong><span>@Model.JobNumber</span></td>
        <td><strong>Completion Date:</strong><span>@Model.EstimatedCompletionDate</span></td>
    </tr>
    <tr>
        <td><strong>Jobsite Name:</strong><span>@Model.Name</span></td>
        <td><strong>Scope of Work:</strong><span>@Model.ScopeOfWork</span></td>
    </tr>
    <tr>
        <td><strong>Jobsite Address:</strong><span>@Html.DisplayFor(x => x.Address)</span></td>
        <td><strong>Foreman:</strong><span>@Model.ForemanName</span></td>
    </tr>
    <tr>
        <td><strong>Customer:</strong><span>@(Model.Customer != null ? Model.Customer.Name : "")</span></td>
        <td><strong>Foreman Note:</strong><span>@Model.ForemanNote</span></td>
    </tr>
    <tr>
        <td><strong>Pickup Date &amp; Time:</strong><span>@Model.PickupTime</span></td>
        <td><strong>PM:</strong><span>@Model.ProjectManager</span></td>
    </tr>
</table>


<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Needed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Mavo.Assets.Models.AssetWithQuantity i in Model.Assets)
        {
            <tr>
                <td>@i.AssetMavoItemNumber</td>
                <td>@i.AssetName</td>
                <td>@i.Quantity</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<table id="truck-info">
    <tr>
        <td>Additional Items to be Loaded?</td>
        <td style="text-align: center;">Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N</td>
    </tr>
    <tr>
        <td>Keys/Job Book on Dock</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Loaded on Truck#</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Truck Needs Gas</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Order Filled By</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Days Truck is Needed</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Order Returned By</td>
        <td>_____________________________________</td>
    </tr>
</table>

<script>
    jQuery(function ($) {
        window.print();
        setTimeout(function () { window.close(); }, 1);
    });
</script>