@model Mavo.Assets.Models.ViewModel.EditJobPostModel
@{ ViewBag.Title = "Create Picklist :: " + Model.Name; }

@section scripts {
    <script type="text/javascript">
        jQuery(function ($) {
        });
    </script>
}

@section LeftNav
{
    @{Html.RenderPartial(MVC.Job.Views._JobSidebar, new Mavo.Assets.Models.ViewModel.SearchResult());}
}

<style>
    #jobheader-printable, #truck-info { display: none; }
    @@media print {
        @@page {
            size: landscape;
        }
        #jobheader-printable, #truck-info { display: block; }
        #screen-title { display: none; }
        /*form #sheet-column {
            -webkit-column-width: 400px;
            -moz-column-width: 400px;
            column-width: 400px;
            column-fill: auto;
            font-size: 10px;
            line-height: 16px;
        }*/
    }
</style>

<table id="jobheader-printable">
    <tr>
        <td><strong>Job Number:</strong><span>@Model.JobNumber</span></td>
        <td><strong>Completion Date:</strong><span>@Model.EstimatedCompletionDate</span></td>
    </tr>
    <tr>
        <td><strong>Jobsite Name:</strong><span>@Model.Name</span></td>
        <td><strong>Scope of Work:</strong><span>@Model.ScopeOfWork</span></td>
    </tr>
    <tr>
        <td><strong>Jobsite Address:</strong><span>@Html.DisplayFor(x => x.Address)</span></td>
        <td><strong>Foreman:</strong><span>@Model.ForemanName</span></td>
    </tr>
    <tr>
        <td><strong>Customer:</strong><span>@(Model.Customer != null ? Model.Customer.Name : "")</span></td>
        <td><strong>Foreman Note:</strong><span>@Model.ForemanNote</span></td>
    </tr>
    <tr>
        <td><strong>Pickup Date &amp; Time:</strong><span>@Model.PickupTime</span></td>
        <td><strong>PM:</strong><span>@Model.ProjectManager</span></td>
    </tr>
</table>

<form method="post">

    <h2 id="screen-title">
        @if (null != Model)
    {
        <span>
            @if (!String.IsNullOrEmpty(Model.JobNumber))
            {
                <text>#</text>@(Model.JobNumber)
            }
            @Model.Name
        </span>
        if (Model.IsAddon)
        {
            <span class="label label-info"><i class="icon-plus-sign icon-white"></i></span>
        }
        <div class="pull-right btn-group">
            <a class="btn" href="javascript:window.print();"><i class="icon-print"></i> Print</a>
        </div>
    }
</h2>

@{ Html.RenderPartial("Tabs\\_Sheet", Model); }

<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
</div>

</form>

<table id="truck-info">
    <tr>
        <td>Additional Items to be Loaded?</td>
        <td style="text-align: center;">Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N</td>
    </tr>
    <tr>
        <td>Keys/Job Book on Dock</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Loaded on Truck#</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Truck Needs Gas</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Order Filled By</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Days Truck is Needed</td>
        <td>_____________________________________</td>
    </tr>
    <tr>
        <td>Order Returned By</td>
        <td>_____________________________________</td>
    </tr>
</table>
