@model IList<Mavo.Assets.Models.ViewModel.AssetSearchResult>

@{
    ViewBag.Title = "_SearchResult";
}
@if (Model == null || !Model.Any())
{
    <div class="hero-unit">
        <h1>No results found</h1>
    </div>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Mavo Item #</th>
                <th>Name</th>
                <th>Category</th>
                <th>Kind</th>
                @if (Model.Any(x => !String.IsNullOrEmpty(x.Manufacturer)))
                {
                    <th>Manufacturer</th>
                }
                @if (Model.Any(x => x.Quantity.HasValue && x.Quantity > 0))
                {
                    <th># Items</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.MavoItemNumber)</td>
                    <td>@Html.DisplayFor(x => item.Name)</td>
                    <td>@Html.DisplayFor(x => item.Category)</td>
                    <td>@Html.DisplayFor(x => item.Kind)</td>
                    @if (Model.Any(x => !String.IsNullOrEmpty(x.Manufacturer)))
                    {
                        <td>@Html.DisplayFor(x => item.Manufacturer)</td>
                    }
                    @if (item.Quantity.HasValue)
                    {
                        <td>
                            @if(item.Kind == Mavo.Assets.Models.AssetKind.Serialized)
                            {
                            <a class="label" href="#@(item.AssetId.Value)modal" data-toggle="modal">@Html.DisplayFor(x => item.Quantity)</a>
                            <div id="@(item.AssetId.Value)modal" class="modal hide fade">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3>@item.Name :: Asset Items</h3>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>Barcode</th>
                                                    <th>Inventory Status</th>
                                                    <th>Condtion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var assetItem in item.AssetItems)
                                                {
                                          
                                                    <tr>
                                                        <td>@assetItem.Barcode</td>
                                                        <td><span class="label label-@(assetItem.Status == Mavo.Assets.Models.InventoryStatus.In ? "success" : "important")"><i class="icon-white icon-@(assetItem.Status == Mavo.Assets.Models.InventoryStatus.In ? "ok-sign" : "remove-circle")"></i>&nbsp;@assetItem.Status</span></td>
                                                        <td>@assetItem.Condition</td>
                                                    </tr>
                                             
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                            }
                            else
                            {
                            <span class="label">@Html.DisplayFor(x => item.Quantity)</span>
                            }
                        </td>
                    }
                    <td><a class="btn btn-small" href="/asset/edit/@item.AssetId"><i class="icon-edit"></i>&nbsp;Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}
