@model Mavo.Assets.Models.ViewModel.AssetScanPostModel

@{
    ViewBag.Title = "Scan a new asset item";
}
@section LeftNav
{
    @{Html.RenderPartial(MVC.Asset.Views._AssetSidebar, new Mavo.Assets.Models.ViewModel.AssetsLeftNavViewModel() { Asset = null, Assets = ViewBag.Assets });}
}
@using (Html.BeginForm(MVC.Asset.ScanItem(), FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Item Details</legend>
        <div class="well">
            <div class="control-group">
                @Html.LabelFor(x => x.AssetId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownList("AssetId", ((IList<Mavo.Assets.Models.Asset>)ViewBag.Assets).Where(x => x.Kind == Mavo.Assets.Models.AssetKind.Serialized).Select(x => new SelectListItem()
               {
                   Value = x.Id.ToString(),
                   Text = x.Name
               }), string.Empty)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Barcode, new { @class = "control-label" })
                <div class="controls">
                    <div class="input-prepend input-append">
                        <span class="add-on"><i class="icon-barcode"></i></span>
                        @Html.EditorFor(x => x.Barcode)
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.Condition, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.Condition, new SelectList(Enum.GetValues(typeof(Mavo.Assets.Models.AssetCondition))))

                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Manufactuer, Model and Vendor data</legend>
        <div class="well">
            <div class="control-group">
                @Html.LabelFor(x => x.Manufacturer, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.Manufacturer)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.ModelNumber, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.ModelNumber)
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Warranty Information</legend>
        <div class="well">    
            <div class="control-group">
                @Html.LabelFor(x => x.PurchaseDate, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.PurchaseDate)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.PurchasePrice, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.PurchasePrice)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.SerialNumber, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.SerialNumber)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(x => x.WarrantyExpiration, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(x => x.WarrantyExpiration)
                </div>
            </div>
        </div>
    </fieldset>
    
    <div class="row-fluid">
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
}