@model Mavo.Assets.Models.Address

@if (Model != null && !String.IsNullOrEmpty(Model.Address1))
{
    <text>
    @Model.Address1
    <br />
    @if (Model.Address2 != null)
    {
        @Model.Address2
        <br />
    }
    @Model.City, @Model.State @Model.ZipCode
    </text>
}
else
{
    <span class="label label-important">Not Specified</span>
}
